:root {
  --gray: #f5f5f5;
  --strongGray: #e5e5e5;
  --darkgray: #e5e5e5;
  --dark: #111111;
  --footerTextColor: #7e7e7e;
  --navbarSubTextColor: #bbbbbb;
}

@font-face {
  font-family: urbanist;
  src: url("./fonts/Urbanist/Urbanist-SemiBold.ttf");
}
@font-face {
  font-family: urbanistBold;
  src: url("./fonts/Urbanist/Urbanist-ExtraBold.ttf");
}
@font-face {
  font-family: Staatliches;
  src: url("./fonts/Urbanist/Staatliches-Regular.ttf");
}
/* modify the scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--footerTextColor);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* globals */
li {
  list-style: none;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h6,
h5 {
  padding: 0;
  margin: 0;
}
.colorGray {
}
.backColorGray {
  background-color: var(--gray);
}
.pointer {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.textGray {
  color: var(--darkgray);
}
.colorGray {
  color: var(--footerTextColor);
}
.urbanistBold {
  font-family: urbanistBold;
}
.urbanist {
  font-family: urbanist;
}
.Staatliches {
  font-family: Staatliches;
}
.whiteSmoke {
  color: whitesmoke;
}
.PageMinWidth {
  width: 1300px;
}
.buttonStyle {
  padding: 10px 15px;
  background-color: var(--dark);
  border-radius: 10px;
  color: white;
  border: none;
}
.dropdown-toggle {
  outline: none;
  border: none;
}
.descriptionS {
  max-height: 70px;
  overflow-y: scroll;
}
.cardShadow {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-body {
  min-height: 180px;
}
.sizeContainer {
  text-align: center;
  border: 1.5px solid var(--darkgray);
  border-radius: 5px;
  padding: 10px 0px;
}
.sizeContainer:hover {
  border-color: var(--dark);
}
.addButton {
  background-color: var(--dark);
}
.addButton:hover {
  opacity: 0.8;
}
.addButton2 {
  border: 1.5px solid var(--darkgray);
}
.addButton2:hover {
  border-color: var(--dark);
}
.descriptionC {
  color: var(--dark);
}
/* .accordion-button::after {
  transform: none !important;
  transition: none !important;
} */
.accordionButtonStyle1 {
  width: 100%;
  border-bottom: 1.5px solid var(--darkgray);
  border-top: 1.5px solid var(--darkgray);
}
.accordionButtonStyle {
  width: 100%;
  border-bottom: 1.5px solid var(--darkgray);
}
/* end globals */

/* ShoesItem style */
.filerContainer {
  width: 30%;
}
.itemContainer {
  width: 70%;
}
.accordionIconW {
  width: 20px;
}
/* footer style */
.footerStyle {
  background-color: var(--dark);
}
.socialStyle {
  background-color: var(--footerTextColor);
  padding: 5px;
  border-radius: 50%;

  transition: all 0.1s linear;
}
.socialStyle:hover {
  background-color: var(--darkgray);
}
.footerSocialS {
  width: 25px;
}
.footerTextColorGray {
  color: var(--footerTextColor);
}
/* end footer style */
.remove-outline {
  outline: none;
}
