:root {
  --gray: #f5f5f5;
  --strongGray: #e5e5e5;
  --darkgray: #e5e5e5;
  --dark: #111111;
  --footerTextColor: #7e7e7e;
  --navbarSubTextColor: #bbbbbb;
}

.signIconS {
  width: 20px;
  margin-right: 5px;
}
.colorBlue {
  color: #3c76f2;
}
.signImgSize {
  width: 200px;
}
.inputDesign {
  outline: none;
  color: white;
  border: 1.5px solid gray;
}
.orBorder {
  height: 1px;
  width: 40px;
  border-bottom: 1px solid gray;
}
.signUpB {
  border: 1.5px solid var(--footerTextColor);
  border-radius: 8px;
}
.signIconsS2 {
  width: 23px;
  margin-right: 5px;
  z-index: 100;
}
.containerWidth {
  width: 100%;
}
.textBorder {
  text-decoration: underline;
  color: var(--footerTextColor);
  text-decoration-color: var(--footerTextColor);
  margin-left: 3px;
}
.textBorder:hover {
  color: var(--dark);
  text-decoration-color: var(--dark);
}

.signCBorderR {
  border-right: 1px solid gray;
}
.webView {
  width: 50%;
}
.signImgSO {
  width: 100%;
}
.buttonBackGround {
  background-color: var(--footerTextColor);
}
.showText:hover {
  color: var(--dark);
}
.loginHover {
  color: var(--footerTextColor);
}
.loginHover:hover {
  color: var(--footerTextColor);
}
.loginConHover {
  content: "";
}
.loginConHover:hover {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .mobileV {
    width: 100%;
  }
  .signImgSizeR {
    width: 80%;
  }
  .hideBorder {
    border: none;
  }
}
